.about {
  display: flex;
  min-height: 80vh;
  padding: 30px 50px;
  margin-top: 30px;
}

.about-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-left-prof-img {
  width: inherit;
  overflow: hidden;
  object-fit: cover;
}

.about-left-prof-img > img {
  width: 90%;
}

.about-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Mobile Device Screen Styling */
/* Mobile at 480px and below */

@media only screen and (max-width: 480px) {
  .about {
    flex-direction: column;
    padding: 20px;
  }

  .about-left {
    /* flex: none; */
  }
}
