.h-intro {
  display: flex;
  height: 100vh;
}

.h-intro-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.h-intro-left-hello,
.h-intro-left-name,
.h-intro-title-item {
  margin-bottom: 15px;
  text-transform: capitalize;
}

.clip-path {
  height: 100%;
  width: 100%;
  clip-path: circle(74.9% at 83% 69%);
  background-color: var(--my-orange);
  position: absolute;
}

.h-intro-left-wrapper {
  height: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  z-index: 1;
}

.h-intro-right {
  flex: 1;
  position: relative;
}

.h-intro-right-profile-img {
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: right;
  overflow: hidden;
}

.profile-image {
  width: 70%;
  border-radius: 30% 0 0 0;
  object-fit: cover;
}

/* Mobile Screen Styling */
/* Screen of 480px and below */

@media only screen and (max-width: 480px) {
  .h-intro {
    flex-direction: column;
    text-align: center;
  }

  .h-intro-left {
    align-items: center;
    flex: none;
  }

  .h-intro-left-wrapper {
    padding: 20px;
  }

  .h-intro-right {
    display: none;
  }
}
