.feedback {
  display: flex;
  height: 80vh;
  padding: 30px 50px;
  /* background-color: aqua; */
}

textarea {
  resize: none;
}

.feedback-left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feedback-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feedback-form input,
.feedback-form textarea {
  padding: 5px;
  font-size: large;
}

.feedback-form .submit-wrapper button {
  font-size: large;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: blue;
  color: #fff;
}
